[arduino]
#
# port - the file path to access the serial port for communications
# with the arduino
#
# reset_time - how long in seconds to wait for the arduino to reset
# when there's a communications failure.
#

port        = /dev/ttyACM0
reset_time  = 2.0

[kinect]
#
# height - the distance in meters from the kinect sensor to the floor.
#
# x - resolution width of the image and depth arrays
#
# y - resolution height of the image and depth arrays
#
# hfield - horizontal field of view
#
# vfield - vertical field of view
#

height  = 1.686
x       = 640
y       = 480
hfield  = 57
vfield  = 43


[eye]
#
# left_horizontal - the arduino port used to control the left eye
# horizontal servo.
#
# left_vertical - the arduino port used to control the left eye
# vertical servo.
#
# right_horizontal - the arduino port used to control the right eye
# horizontal servo.
#
# right_vertical - the arduino port used to control the right eye
# vertical servo.
#
# offset - the distance in meters from the center axis to the center
# of either eye.
#
# height - the distance in meters from the center of an eye to the
# floor.
#
# left_hmin - minimum allowed value for the left eye horizontal
# movement
#
# left_hmax - maximum allowed value for the left eye horizontal
# movement
#
# left_vmin - minimum allowed value for the left eye vertical movement
#
# left_vmax - maximum allowed value for the left eye vertical movement
#

left_horizontal  = 10
left_vertical    = 9
left_hmin        = 0
left_hmax        = 140
left_vmin        = 0
left_vmax        = 140
right_horizontal = 11
right_vertical   = 12
right_hmin       = 40
right_hmax       = 170
right_vmin       = 20
right_vmax       = 160
offset           = 0.10636
height           = 1.753

[servo]
#
# pause - time in seconds before sending the next servo command
#

pause = 0.1

[general]
#
# debug - boolean to turn on / off debugging
#

debug = True
#debug = False
